$font-montserrat: 'Montserrat', sans-serif;
$font-comfortaa: 'Comfortaa', cursive;
$font-caveat-brush: 'Caveat Brush', cursive;

$default-font-size: 18px;
$default-line-height: 29px;

$height-header: 100px;

$font-size-h1: 48px;
$line-height-h1: 62px;

$font-size-h2: 36px;
$line-height-h2: 43px;

$font-size-h3: 26px;
$line-height-h3: 52px;

$font-size-main-menu: 14px;
$line-height-main-menu: 18px;

$color-white: #FFF;
$color-dark-blue: #0F3F53;
$color-cyan: #50E3C2;
$color-darker-cyan: #21D2B5;