.branding {
    display: inline-block;
    float: left;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 250px;
    height: 50px;
}